<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
    <bean id="ContextAware" class="assignment10.ContextAwareExample">
        <property name="name" value="Adarsh"/>
        <property name="check" ref="Check"/>
    </bean>
    <bean id="ContextAware1" class="assignment10.ContextAwareExample">
        <property name="name" value="Rudra"/>
        <property name="check" ref="Check"/>
    </bean>

    <bean id="Check" class="assignment10.Check" scope="prototype">
        <property name="hindi" value="checked"/>
        <property name="english" value="not-checked"/>
    </bean>
</beans>