<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd  
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/mvc  
     http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 
    <context:component-scan base-package="SpringMvc.mvcassignment" />
 <mvc:annotation-driven/>
 <!--<bean id="HandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>This is @RequestMapping("/welcome")
 <bean name="/welcome.html" class="firstwebapp.firstmvcapp.HelloController" />
 this is @controller in HelloWorld2 -->
<!--  <mvc:interceptors>
    <bean id="timeforweb" class="SpringMvc.mvcassignment.timeforweb"/>
		<property name="maintenanceStartTime" value="20" />
		<property name="maintenanceEndTime" value="21" />
		<property name="maintenanceMapping" value="/mvcassignment/maintenance" />
	</bean>
</mvc:interceptors> -->
 
    <bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
<!--     <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource" p:basename="/WEB-INF/Msg"> -->
<!--     <property name="cacheSeconds" value="1"></property>auto load of server no need to restart again and again -->
<!--     </bean> -->
</beans>